@font-face {
  font-family: 'Proxima Nova';
  src: url(./assets/fonts/ProximaNova-Regular.woff2);
}

body {
  margin: 0;
  font-family: 'Proxima Nova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBEBEB;
}

a {
  text-decoration: none;
  color: initial;
}